:root {
    --primary: #1F2F4D;
    --secondary: #F36A2D;
    --white: #ffffff;
    --gray: #666666;
    --Black: #000000;
    --secondary-40: #F36A2D40;
  }
  
  h1,
  h2,
  h6,
  p {
    margin: 0;
  }
  
  .pb-20 {
    padding-bottom: 20px;
  }
  
  .mb-35 {
    margin-bottom: 35px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .pb-40 {
    padding-bottom: 40px;
  }
  
  .pb-35 {
    padding-bottom: 35px;
  }
  
  .pb-60 {
    padding-bottom: 60px;
  }
  
  .pt-100 {
    padding-top: 100px;
  }
  
  .Primary_btn {
    padding: 9px 37px;
    background: var(--secondary);
    color: var(--white);
    /* min-height: 46px; */
    border-radius: 10px;
    border: none;
    font-size: 16px;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--white);
      transform: scaleX(0);
      transform-origin: left;
      border-radius: 10px;
      z-index: -1;
    }
  
    &:hover::after {
      animation: sweep 0.35s ease forwards;
    }
  
    &:hover {
      border: 1px solid #F36A2D;
      color: var(--secondary);
      border-radius: 10px;
      transform: translateY(0);
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    }
  }
  
  .Secondary_btn {
    padding: 10px 37px;
    color: var(--secondary);
    background: var(--white);
    border: 1px solid #F36A2D;
    height: 46px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
  
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--secondary);
      transform: scaleX(0);
      transform-origin: left;
      z-index: -1;
      border-radius: 10px;
    }
  
    &:hover::after {
      animation: sweep 0.35s ease forwards;
    }
  
    &:hover {
      color: var(--white);
      border: none;
      transform: translateY(0);
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    }
  }
  
  @keyframes sweep {
    to {
      transform: scaleX(1);
    }
  }
  
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
  
    h2 {
      font-size: 48px;
      font-weight: 600;
      color: var(--primary);
    }
  
    p {
      font-size: 18px;
      color: var(--Black);
      font-weight: 400;
    }
  
    ul,
    a {
      text-decoration: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    li,
    button {
      font-family: "DM Sans", sans-serif;
    }
  
    #header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: all 0.3s ease;
      background: transparent;
      z-index: 999;
    }
  
    #header.scrolled {
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(4px);
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }
  
    header {
      padding: 17px 0;
  
      button.navbar-toggler {
        font-size: 32px;
        color: var(--secondary);
      }
  
  
  
      .main_logo {
        img {
          width: 180px;
          height: 40px;
        }
      }
  
      .nav_li_wrap {
        ul {
          list-style-type: none;
          gap: 62px;
  
          li {
            a {
              color: var(--primary);
              text-decoration: none;
  
            }
  
            &:hover a {
              color: #F36A2D;
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    .hero {
      /* height: calc(100vh + 90px); */
      margin-top: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .left_content {
        h1 {
          font-size: 56px;
          color: var(--primary);
          font-weight: 600;
          padding-bottom: 18px;
        }
  
        .hero_li {
          padding-top: 20px;
  
          li {
            display: flex;
            align-items: center;
            gap: 7px;
            font-style: italic;
            padding-bottom: 7px;
            font-size: 16px;
            color: var(--gray);
  
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
  
      .right_banner {
        img {
          width: 100%;
        }
      }
    }
  
    .how_we_help {
      p {
        width: 72%;
        margin: auto;
        text-align: center;
      }
  
      .card-carousel {
        position: relative;
        max-width: 1200px;
        margin: auto;
  
        .carousel-viewport {
          overflow: hidden;
        }
  
        .card {
          min-width: 380px;
          padding: 33px 35px 24px;
          border-radius: 30px;
          border: 1px solid #F36A2D;
          background: #fff;
          flex-shrink: 0;
          text-align: center;
  
          .top_logo {
            width: 160px;
            height: 160px;
            margin: auto;
          }
  
          h6 {
            font-size: 30px;
            color: var(--primary);
            padding-top: 8px;
            padding-bottom: 35px;
          }
  
          ul {
            padding-bottom: 35px;
  
            li {
              display: flex;
              align-items: center;
              gap: 7px;
              font-style: italic;
              padding-bottom: 7px;
              font-size: 16px;
              color: var(--gray);
  
              img {
                width: 18px;
                height: 18px;
              }
            }
          }
  
          .text-end {
            position: relative;
  
            &::after {
              content: "";
              position: absolute;
              right: 0;
              bottom: -4px;
  
              width: 102px;
              height: 1px;
              background: #F36A2D;
  
              transition: width 0.3s ease;
            }
  
            span {
              font-size: 14px;
              gap: 6px;
              display: flex;
              align-items: center;
              justify-content: end;
              color: var(--secondary);
  
              img {
                width: 14px;
                height: 14px;
              }
            }
  
          }
        }
      }
    }
  
    .why_US_trusts {
      h2 {
        padding-bottom: 40px;
  
        span {
          color: var(--secondary);
        }
      }
  
      .features {
        padding: 90px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px 40px;
        text-align: center;
        justify-items: center;
        align-items: center;
  
        &:last-child {
          grid-column: 2;
        }
  
        .feature {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 16px;
  
          .icon {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
  
            img {
              width: 100%;
            }
          }
  
          p {
            font-size: 18px;
            line-height: 29px;
            color: var(--gray);
          }
        }
      }
    }
  
    .our_story {
      background: var(--primary);
      padding: 80px 0;
  
      .top_section {
        padding-bottom: 70px;
  
        .left_content {
          h2 {
            color: var(--white);
            font-size: 44px;
            padding-bottom: 30px;
          }
  
          p {
            color: var(--white);
          }
  
          button {
            font-size: 20px;
          }
        }
  
        .right_banner {
          padding: 50px;
  
          img {
            max-width: 100%;
            height: auto;
            border-radius: 16px;
            border: 1px solid #F36A2D;
          }
        }
      }
  
      .meet_experts {
        .experts-grid {
          max-width: 960px;
          margin: auto;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
  
          .expert-card {
            border-radius: 16px;
            background: var(--white);
            padding: 40px 26px 45px;
            text-align: center;
  
            img {
              border-radius: 100px;
              width: 140px;
              height: 140px;
              margin: auto;
            }
  
            h6 {
              font-size: 22px;
              color: var(--Black);
              padding-top: 33px;
              padding-bottom: 10px;
            }
  
            p.role {
              font-size: 16px;
              padding-bottom: 33px;
  
            }
  
            p.quote {
              font-style: italic;
              color: var(--gray);
              font-size: 20px;
            }
          }
        }
      }
    }
  
    .avia_Barrett_container {
      padding: 100px 0;
  
      .avia_inner {
        background: var(--secondary-40);
        padding: 66px 55px;
        border-radius: 20px;
  
        .avia_barrett {
          padding: 0 40px;
          width: 100%;
          height: auto;
          max-width: 100%;
          display: block;
          overflow: hidden;
  
          img {
            border-radius: 16px;
          }
        }
  
        .about_avia {
          padding: 0 20px;
  
          p {
            color: var(--gray);
          }
        }
      }
    }
  
    .blogs_and_news {
      background: var(--primary);
      padding: 60px 0;
  
      .top_head {
        .chips {
          button {
            padding: 5px 18px;
            background: var(--secondary);
            color: var(--white);
            border: none;
            border-radius: 100px;
          }
        }
  
        h2,
        p {
          color: var(--white);
          text-align: center;
        }
      }
  
      .blog_grid {
        max-width: 1250px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
  
        .blog_card {
          padding: 20px;
          border-radius: 20px;
          background: var(--white);
          border: 1px solid #F36A2D;
  
          .top_img img {
            width: 100%;
            border-radius: 16px;
  
          }
  
          img.timings {
            width: 80%;
            padding: 13px 0 15px;
          }
        }
      }
    }
  
    footer {
      background: var(--Black);
      padding: 50px 0;
      margin-top: 100px;
  
      img.logo {
        width: 320px;
        height: 67px;
      }
  
      ul {
        margin: 60px 0 40px;
        gap: 80px;
        display: flex;
  
        li {
          font-size: 20px;
          color: var(--white);
        }
      }
  
      .links {
        padding-bottom: 40px;
  
        a {
          font-size: 16px;
          color: var(--white);
        }
      }
  
      .social_links {
        width: 40%;
      }
  
      .text-center {
        padding-top: 60px;
  
        span {
          font-size: 16px;
          color: var(--white);
        }
      }
    }
  
    .carousel-track {
      display: flex;
      gap: 24px;
      transition: transform 0.5s ease;
    }
  
    /* BACK TO TOP CSS */
    #backToTop {
      position: fixed;
      bottom: 30px;
      right: 30px;
  
      width: 44px;
      height: 44px;
  
      border: none;
      border-radius: 50%;
  
      background: #F36A2D;
      color: white;
      font-size: 20px;
  
      cursor: pointer;
  
      opacity: 0;
      pointer-events: none;
  
      transition: 0.3s ease;
    }
  
    #backToTop.show {
      opacity: 1;
      pointer-events: auto;
    }
  
    #backToTop:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    }
  
    .nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      cursor: pointer;
      padding: 10px 14px;
      font-size: 20px;
      background: #1F2F4D;
      color: white;
      border-radius: 8px;
      z-index: 1;
    }
  
    .prev {
      left: -10px;
    }
  
    .next {
      right: -10px;
    }
  }
  
  .reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
  }
  
  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Hover Effects */
  .card-hover {
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  }
  
  .img-hover-wrap {
    overflow: hidden;
    width: 100%;
  }
  
  .img-hover-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    /* zoom center se */
    transition: transform 0.5s ease;
  }
  
  .img-hover-wrap:hover img {
    transform: scale(1.12);
  }
  
  /* Media Queries starts from here */
  @media (max-width: 768px) {
    .nav_li_wrap ul {
      gap: 15px;
      padding: 20px 0;
    }
  }
  
  @media (max-width: 1200px) {
    body {
      p {
        font-size: 16px;
      }
  
      h2 {
        font-size: 34px;
      }
  
      header {
        ul {
          gap: 20px !important;
        }
      }
  
      .hero {
        & .left_content {
  
          h1 {
            font-size: 38px;
          }
        }
      }
  
      .why_US_trusts {
        h2 {
          padding-bottom: 20px;
        }
  
        .features {
          .feature p {
            font-size: 16px;
          }
        }
      }
    }
  }
  
  @media (max-width: 991px) {
    body {
      .pb-60 {
        padding-bottom: 30px;
      }
  
      .navbar-collapse {
        background: transparent;
      }
  
      p {
        font-size: 14px;
      }
  
      .Secondary_btn,
      .Primary_btn {
        font-size: 16px !important;
        padding: 4px 20px;
        height: 36px;
      }
  
      .show_five_lines {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .show_three_lines {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      header {
        border-bottom: 1px solid #b0b0b0;
        .collapse {
          &.show {
            background: #fff;
          }
        }
  
        ul {
          justify-content: end !important;
  
          li {
            text-align: center;
          }
        }
  
        .navbar-collapse {
          text-align: center;
        }
      }
  
      .hero {
        margin-top: 100px;
  
        .left_content {
          .hero_li {
            li {
              font-size: 12px;
  
              img {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
  
      }
  
      .how_we_help {
        .card-carousel {
          .card {
            min-width: 300px;
            max-width: 320px;
            padding: 20px 10px;
  
          }
        }
      }
  
      .why_US_trusts {
        .features {
          grid-template-columns: repeat(2, 1fr);
  
          .feature {
            .icon {
              width: 60px;
              height: 60px;
            }
  
            p {
              font-size: 14px;
            }
          }
        }
      }
  
      .our_story {
        .top_section {
          .row {
            align-items: center;
          }
  
          .left_content {
            h2 {
              font-size: 34px;
            }
  
          }
        }
  
        .meet_experts {
          .experts-grid {
            .expert-card {
              p.quote {
                font-size: 14px;
              }
            }
          }
        }
  
        .right_banner {
          padding: 0 !important;
        }
  
      }
  
      .avia_Barrett_container {
        padding: 70px 0;
  
        .avia_inner {
          padding: 30px;
  
          .avia_barrett {
            padding: 0;
  
          }
  
          .about_avia {
            padding: 0;
  
            h2 {
              font-style: 26px;
            }
          }
        }
      }
  
      .blogs_and_news {
        .top_head {
          .chips {
            button {
              font-size: 12px;
              padding: 3px 10px;
            }
          }
        }
  
        .blog_grid {
          gap: 10px;
  
          .blog_card {
            padding: 12px;
          }
        }
      }
  
      footer {
        margin-top: 60px;
        .text-center {
          padding-top: 0;
        }
  
        img.logo {
          width: 220px;
          height: 56px;
        }
  
        ul {
          gap: 20px;
          margin: 30px 0;
  
          li {
            font-size: 14px;
          }
        }
  
        .links {
          gap: 20px !important;
  
          a {
            font-size: 12px;
          }
        }
  
        span {
          font-size: 12px !important;
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .container {
      max-width: 650px;
    }
  
    body {
      .pt-100 {
        padding-top: 40px;
      }
  
      .why_US_trusts {
        .features {
          padding: 40px 0;
        }
  
      }
  
      .our_story {
        padding: 40px 0;
  
        .top_section {
          padding-bottom: 40px;
  
          .row {
            row-gap: 30px;
          }
        }
  
        .meet_experts {
          .experts-grid {
            gap: 20px;
          }
        }
      }
  
      .avia_Barrett_container {
        padding: 40px 0;
  
        .avia_inner {
          .row {
            row-gap: 30px;
  
            .avia_barrett {
              height: 350px;
              object-fit: cover;
              object-position: center 20%;
            }
          }
        }
  
      }
  
      .blogs_and_news {
        padding: 40px 0;
      }
  
      footer {
        margin-top: 40px;
  
        img.logo {
          width: 121px;
          height: 40px;
        }
      }
    }
  }
  
  @media (max-width: 640px) {
    body {
      .mobile-break {
        display: none;
      }
  
      .why_US_trusts {
        .features {
          row-gap: 20px;
          grid-template-columns: repeat(1, 1fr);
  
          .feature {
            width: 60%;
          }
        }
      }
  
      .our_story {
        & .meet_experts {
          .experts-grid {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
  
      .blogs_and_news {
        .blog_grid {
          grid-template-columns: repeat(1, 1fr);
        }
      }
  
  
      footer {
        ul {
          /* display: grid !important;
      grid-template-columns: repeat(2, 1fr); */
          flex-wrap: wrap;
  
        }
  
        .links {
          flex-wrap: wrap;
  
        }
  
        .social_links {
          width: 50%;
        }
      }
    }
  }
  
  @media (max-width: 575px) {
    body {
      header {
        .main_logo {
          img {
            width: 120px;
            height: 30px;
          }
        }
      }
  
      .why_US_trusts {
        .features {
          .feature {
            width: unset;
          }
        }
      }
    }
  
    footer {
      .social_links {
        width: 70%;
      }
    }
  }